.container {
  margin: 7rem auto 0;
  max-width: 1240px;
  padding: 0 2rem;

  h2 {
    align-items: center;
    color: #3a3a3a;
    display: flex;
    justify-content: center;
    height: 20vh;
  }
}
